.olab-activity-item-wrapper {
    position: relative;
    padding: 15px;
    margin: 0 0 12px 0;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.olab-activity-entry-row {
    display: flex;
    flex-flow: row wrap;
}

.olab-activity-entry-avatar {
    flex: 0 0 75px;
    max-width: 75px;
}

.olab-activity-entry-avatar img {
    max-width: 100%;
    height: auto;
}

.olab-activity-entry-data {
    flex: 0 0 calc(100% - 75px);
    max-width: calc(100% - 75px);
}

.olab-activity-entry-content {
    padding-left: 15px;
}

.olab-activity-entry-content p {
    margin: 0 0 15px;
    font-size: 14px;
}

body .olab-activity-entry-activity-action p:last-child {
	margin-bottom: .5em;
}

.olab-activity-item-view-link {
	font-weight: 700;
}

.olab-activity-item-view-link span.fa {
	margin-left: 5px;
}

/* Simple view */
.olab-activity-stream-simple .olab-activity-entry-data {
    flex: 0 0 100%;
    max-width: 100%;
}

.olab-activity-stream-simple .olab-activity-entry-content {
    padding-left: 0;
}

/** WIDGET **/
.widget_openlab_activity_block_widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.widget_openlab_activity_block_widget ul li {
    margin-bottom: 15px;
}

.widget_openlab_activity_block_widget ul li p {
    margin: 0 0 8px;
}

.widget_openlab_activity_block_widget a.olab-activity-item-button {
    color: #fff;
}

#editor .olab-activity-item a,
#editor .olab-activity-item a:hover {
    pointer-events: none;
}
